  <div class="mt-4 text-center">
<h2>本当に退会しますか？</h2>
    </div>
<div class="container text-center mt-5">
<p>退会すると、会員登録情報や<br>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>
</div>

<div class="col text-center pt-5">
<%= link_to "退会する", withdrawal_path,method: :patch, data: { confilm: "本当に退会しますか？" },class: "btn btn-danger mr-5" %>
<%= link_to "退会しない", customer_path(current_customer), class: "btn btn-primary ml-5"%>
</div>