<h1>商品一覧</h1>
<table class="table">
  <thead>
    <tr>商品ID</tr>
    <tr>商品名</tr>
    <tr>税抜価格</tr>
    <tr>ジャンル</tr>
    <tr>ステータス</tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td>item価格</td>
    <td><%= item.genre.name %></td>
    <td>item.status</td>
    <% end %>
  </tbody>
</table>
