<h1>商品詳細</h1>
<!--<%=  %>商品画像-->
<tbody>
  <th>商品名</th>
  <td></td>
  <th>商品説明</th>
  <td></td>
  <th>ジャンル</th>
  <td></td>
  <th>税抜価格</th>
  <td></td>
  <th>販売ステータス</th>
  <td></td>
</tbody>
<%= link_to "編集する", edit_admin_path %>
