<main>
  <p>ジャンル検索</p>
  <ul>
    <li>ケーキ</li>
    <li>焼き菓子</li>
    <li>プリン</li>
    <li>キャンディ</li>
  </ul>
  <p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
  <h3>新着商品</h3>
    <tbody>
      <tr>
        <td>商品画像</td>
        <td>商品名</td>
        <td>値段</td>
      </tr>
    </tbody>
  <%= link_to "すべての商品を見る", items_path %>
</main>