<div class="container">
  <h3>注文履歴詳細</h3>

  <div class="row mt-5">
    <table class="table table-borderless">
      <tr>
        <th style="width: 20%">購入者</th>
        <td><%#= link_to admin_customer_path(@order.customer_id) do %><%#= @order.customer.last_name %><%# end %></td>
      </tr>
      <tr>
        <th style="width: 20%">注文日</th>
        <td><%#= @order.create_at %></td>
      </tr>
      <tr>
        <th style="width: 20%">配送先</th>
        <td><%#= @order.shipping_postcode %><%#= @order.shipping_address %><br><%#= @order.shipping_name %></td>
      </tr>
      <tr>
        <th style="width: 20%">支払方法</th>
        <td><%#= @order.payment_method %></td>
      </tr>
      <tr>
        <th style="width: 20%">注文ステータス</th>
        <td><%#= @order.order_status %><%= link_to "更新", admin_order_path, method: :patch, class:"btn btn-success" %></td>  <!--admin_order_pathの後ろに(@order.id)が必要？？-->
      </tr>
    </table>
  </div>

  <div class="row mt-5">

    <table class="table col-sm-8">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="2">制作ステータス</th>
        </tr>
      </thead>
      <tbody>
         <%#= @order.order_details.each do |order_detail| %>
          <tr>
            <td><%#= order_detail.item.item_name %></td>
            <td><%#= order_detail.purchese_price %></td>
            <td><%#= order_detail.item.quantity %></td>
            <td><%#= (order_detail.purchese_price)*(order_detail.item.quantity) %></td>
            <td><%#= order_detail.production_status %></td>
            <td><%= link_to "更新", admin_work_path, class:"btn btn-success" %></td> <!--admin_work_pathの後ろに(order.id)が必要？？-->
          </tr>
        <%# end %>
      </tbody>
    </table>

    <table class="col-sm-3 offset-sm-1 align-self-end">
      <% total, subtotal = 0, 0 %>
      <%# @order.order_details.each do |order_detail| %>
        <%# price = order_detail.purchese_price %>
        <%# quantity = order_detail.item.quantity %>
        <%# subtotal = price * quantity %>
        <%# total += subtotal %>
      <%# end %>
      <tr><th>商品合計</th><td><%#= total %>円</td></tr>
      <tr><th>送料</th><td><%#= @order.postage %>円</td></tr>
      <tr><th>請求金額合計</th><td><%#= @order.billing_amount %>円</td></tr>
    </table>
  </div>
</div>